body, h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif
}

.w3-bar, h1, button {
  font-family: "Montserrat", sans-serif
}

.fa-anchor, .fa-coffee {
  font-size: 200px
}

input {
  margin-bottom: 20px;
  background: rgb(239, 238, 239);
  position: relative;
  top: -20px;
}

.error {
  color: red;
  position: relative;
  top: -30px;
}

.w3-margin {
  position: relative;
  top: -55px;
}

p {
  font-size: 150%;
  position: relative;
  top: -55px
}

label {
  position: relative;
  top: -10px
}

div.form {
    display: block;
    text-align: center;
}

.loader {
  display: none;
  position: relative;
  top: 90%;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  border: 8px solid #f3f3f3;
  border-color: rgb(239, 238, 239);
  border-radius: 50%;
  border-top: 8px solid #3498db;
  width: 60px;
  height: 60px;
  color: rgb(70, 172, 236);
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
}

form {
  position: relative;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* Safari */

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}