Flask-WTF==0.14.3
Flask==1.1.2
gunicorn
Jinja2==2.11.2
pandas-profiling==2.8.0
pandas==1.0.5
pyarrow==0.17.1
requests==2.23.0
snowflake-connector-python==2.2.9
WTForms==2.3.1
pytest==6.0.0
mock==4.0.2