<!DOCTYPE html>
<html lang="en">
    <head>
        {% if title %}
        <title>{{ title }} - Snowflake Data Profiler</title>
        {% else %}
        <title>Welcome to Snowflake Data Profiler!</title>
        {% endif %}
    </head>
    <body>
        <div>Snowflake Data Profiler:
            <a href="{{ '/' }}">Data Profiler</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>